{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Books{% endblock %}
{% block page_title %}{% endblock %}
{% block subheader_page_title %}{% if form.question.value %}{{form.question.value|safe}}{% else %}{% endif %}{% endblock %}

{% block actions %}
<a href="javascript:history.go(-1)" class="btn btn-dark btn-text-white font-weight-bold">
    <i class="text-white flaticon2-left-arrow"></i>back</a>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.category|as_crispy_field}}
            {{form.question|as_crispy_field}}
            {{form.answer|as_crispy_field}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock%}