{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Books{% endblock %}
{% block subheader_page_title %}Create Question{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.category|as_crispy_field}}
            {{form.question|as_crispy_field}}
            {{form.answer|as_crispy_field}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock%}