{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-dark text-white p-3 d-flex align-items-center justify-content-between mb-5">
    <h1>{{category.name}}</h1>
    <a class="btn btn-outline-secondary text-white" href="{% url 'create_question' %}">Add Question</a>
</div>
{% for question in questions %}
<div class="card mb-4">
    <div class="card-header text-capitalize bg-dark-subtle text-emphasis-dark d-flex align-items-center justify-content-between ">
        {{question.question|safe}} <a class="btn btn-dark" href="{% url 'update_question' question.id %}">edit</a>
    </div>
    <div class="card-body">
        {{question.answer|safe}}

    </div>

</div>

{% endfor %}

{% endblock %}