{% extends 'base.html' %}
{% load static %}

{% block title %}Books{% endblock %}
{% block page_title %}{{category.name}}{% endblock %}
{% block subheader_page_title %}{% endblock %}


{% block actions %}
<a href="{% url 'create_question' %}" class="btn btn-dark font-weight-bold mr-2">Add Question</a>
{% endblock %}


{% block content %}

{% for question in questions %}
<div class="card mb-4">
    <div class="question card-header font-weight-bolder text-capitalize bg-dark-subtle text-emphasis-dark d-flex align-items-center justify-content-between ">
        {{question.question|safe}} <a class="btn btn-dark" href="{% url 'update_question' question.id %}">edit</a>
    </div>
    <div class="card-body">
        {{question.answer|safe}}
    </div>
</div>

{% endfor %}

{% endblock %}